= haml :_head

%body.full-width
  %header.row.main-hero
    .row-container
      %img.main-hero-image{src: image_path('lovely_couple.png'), alt: 'Giacomo and Virginia as Han Solo and Princess Leia'}


  %section.container

    %section.column

    %section.column.column-double
      %header
        %h1.main-header 
          = t('event_title')

      
      %article
        = t('event_intro')


  %section.row.main-honeymoon-card  
    .row-container
            
      .column.column-double.column-right     
        = t('honeymoon_intro')  
      
        %p.main-honeymoon-card-link
          %a.btn{href: url('honeymoon')}= t('honeymoon_frontpage_link')

        %small= t('honeymoon_notes')  


= haml :_foot